# Web Development
Flask==2.3.3             # Core web framework for building web applications
flask_mysqldb==1.0.1
Werkzeug==2.3.7
Flask-SQLAlchemy==3.0.5  # SQLAlchemy integration with Flask for database ORM
Flask-WTF==1.1.1         # Integration of WTForms for form handling and validation in Flask
Flask-Migrate==4.0.4     # Database migration tool for Flask using Alembic
Flask-Login==0.6.3       # Session management and user authentication in Flask
Flask-Mail==0.9.1        # Simplifies email handling and sending in Flask apps
Flask-RESTful==0.3.9     # Extension for building RESTful APIs in Flask
Flask-Cors==4.0.2        # Enables Cross-Origin Resource Sharing (CORS) in Flask
Flask-Bcrypt==1.0.1      # Password hashing utilities using Bcrypt for Flask apps
Flask-Bootstrap==3.3.7.1 # Integration of Bootstrap (CSS framework) into Flask
Flask-PyMongo==2.3.0     # Simplifies MongoDB integration with Flask
flask-session==0.4.0     # Server-side session management for Flask applications
Jinja2==3.1.2            # Templating engine used by Flask for dynamic HTML rendering
SQLAlchemy==2.0.23       # SQL database ORM for Python
WTForms==3.0.1           # Library for form handling and validation
python-dotenv==1.0.0     # Loads environment variables from a `.env` file
gunicorn==21.0.1         # WSGI HTTP Server for deploying Flask apps in production

# Database
pymongo==4.3.3           # Python driver for MongoDB, for interacting with NoSQL databases

# Statistical Libraries
numpy<2           # Numerical computations and array operations
pandas==1.5.3           # Data manipulation and analysis
scikit-learn==1.2.2     # Machine learning library for modeling and preprocessing
scipy==1.10.1           # Scientific computing and optimization
matplotlib==3.6.3       # Data visualization (static plots)
seaborn==0.12.2         # Statistical data visualization (built on Matplotlib)
statsmodels==0.14.0     # Statistical modeling and hypothesis testing

tensorflow==2.18.0      # Deep learning framework by Google
